apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

{{- /*
  An environment bound to an external Vault (Settings.ExternalInstances) renders
  no Vault workload: its consumers are handed the external coordinates instead.
*/}}
resources:
{{- if not .Restricted }}
  - namespace.yaml
{{- end }}
{{- if not .Deployment.Parameters.External }}
  - stateful-set.yaml
  - service.yaml
{{- else if .Restricted }} []
{{- end }}
